<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Paste It</title>
<link rel="stylesheet" type="text/css" href="../template/default/reset.css" />
<link rel="stylesheet" type="text/css" href="../template/default/style.css" />
<style type="text/css">
{$css}
</style>
</script>
</head>
<body>
<div id="wrap">
	<h2>
		<div style="float: left">Paste It [Create at: {$add_date}] </div>
		<div style="float: right"><a href="{$_SERVER['PHP_SELF']}">Back</a></div>
		<div style="clear: both"></div>
	</h2>
	<br />
	<div id="content">
	{$content}
	</div>
	<div id="copyright">Powered By <a href="http://zeuik.com/studio">SeekStudio</a></div>
</div>
</body>
</html>